

<nav class="navbar navbar-expand-md navbar-light bg-info" role="navigation">
    <div class="container">
        
        <a class="navbar-brand title" (click)="goHome()">Mi Shop!</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/computacion']">Computación</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/electrodomestico']">Electrodomésticos</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/electronicos']">Electrónicos</a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['/products-form']">Productos-Form</a>
                </li>
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">

                <form class="mx-2 my-auto">
                    <div class="input-group">
                        <input type="text" #txt class="form-control" id="search" placeholder="Search" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-search"
                                (click)="getText(txt.value)"></button>
                        </div>
                    </div>
                </form>

                <li class="dropdown order-1">
                    <div *ngIf="loggedIn()" class="dropdown show">
                        <a href="" class="dropdown-toggle text-light" data-toggle="dropdown">
                            Bienvenido
                        </a>

                        <div class="dropdown-menu show">
                            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a (click)="logout()" class="dropdown-item" href="/"><i class="fa fa-sign-out"></i>
                                logout</a>
                        </div>
                    </div>
                    <button *ngIf="!loggedIn()" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        class="btn btn-outline-secondary dropdown-toggle">Login <span class="caret"></span></button>
                    <ul *ngIf="!status" class="dropdown-menu dropdown-menu-right mt-2">
                        <li class="px-3 py-2">

                            <form [formGroup]="form1" #loginForm="ngForm" #closebutton id="closebutton" class="form"
                                role="form" (ngSubmit)="login()">

                                <div class="form-group">
                                    <input #username id="emailInput" formControlName="username" placeholder="Alias"
                                        class="form-control form-control-sm" type="text" required="" required=""
                                        name="username">

                                    <!-- <div class="alert alert-danger"
                                        *ngIf="form1.get('username').touched && form1.get('username').invalid">
                                        <div *ngIf="form1.get('username').errors.required">alias es requerido.</div>
                                        
                                    </div> -->
                                </div>
                                <div class="form-group">
                                    <input #password id="passwordInput" type="password" formControlName="password"
                                        placeholder="Password" class="form-control form-control-sm" required=""
                                        name="password">

                                    <!-- <div class="alert alert-danger"
                                        *ngIf="form1.get('password').touched && form1.get('password').invalid">
                                        <div *ngIf="form1.get('password').errors.required">password es requerido.</div>
                                        <div *ngIf="form1.get('password').errors.pattern">password invalido</div>
                                    </div> -->
                                </div>
                                <div class="form-group">
                                    <button [disabled]="!form1.valid" type="submit"
                                        class="btn btn-primary btn-block">Login</button>
                                </div>
                                <div class="form-group text-center">
                                    <small><a href="/" (click)="sendRegistro()" data-toggle="modal">Registrate
                                            aqui!!</a></small>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


    <!-- aaaa -->

